@page "/todo"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@inject IConfiguration Configuration

<p>@Configuration["message"]</p>


@if (todoItems == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        @foreach (var item in todoItems)
        {
            <li>@item.Name</li>
        }
    </ul>
}

@code {
    private TodoItem[]? todoItems;
    private string serviceEndpoint;

    protected override async Task OnInitializedAsync()
    {
        serviceEndpoint = Configuration["TodoApiBaseUrl"] + "api/TodoItems";
        todoItems = await Http.GetFromJsonAsync<TodoItem[]>(serviceEndpoint);
    }
}