@page "/todo"

<PageTitle>Todo</PageTitle>

<h3>Todo (@TodoRemaining()) <p hidden="@ShowRemaining()">All Done</p></h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private int TodoRemaining()
    {
        return todos.Count(todo => !todo.IsDone);
    }

    private bool ShowRemaining()
    {
        return TodoRemaining() != 0;
    }
    
    private void AddTodo()
    {
        // Todo:  Add the todo
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
